@using ClothesStoreWebsite.Models;

@model List<ProductViewModel>;

<div class="container">
    <table>
        <caption>Products</caption>
        <tr>
            <th ></th>
            <th>Name</th>
            <th>Cost</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </table>
</div>